/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;
    background-color: #475569;
}

header , nav, main, footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header{
    background-color: rgba(35, 32, 68, 0.912);
    color: white;
    padding: 0.5rem 0rem 1.5rem 0rem;    
} 

header h2{
    padding: 0 0 0.5rem 0;
}

nav{
    background-color: rgb(49, 49, 101);
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    white-space: nowrap;
}

nav div{
    padding: 0.7rem;
}


.link{
    text-decoration: none;
    color: whitesmoke;
    border-radius: 2rem;
    background-color: blueviolet;
    padding: 0.4rem;
    border: 2px solid snow;
}

.link:hover , .link:focus{
    background-color: white;
    color: blueviolet;
}
main{
     
    flex-grow: 1;
}

article{
    display: grid;
    place-content: center;
}

article img{
   border-radius: 50rem;   
}



footer{
    background-color: black;
    color: white;
}

head{
    top: 0;
}

main{
    flex-grow: 1;

}

footer{
    bottom: 0;
} */





*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*Utility Class*/

.nowrap{
    white-space: nowrap;
}

/* General Style*/

html{
    scroll-behavior: smooth;
}

body{

    
    font-size: 1.5rem;
    font-family: sans-serif;
    min-height:100vh ;
    background-color: gray;
    background-image: radial-gradient(whitesmoke,gray);
    display: flex;
    flex-direction: column;
}

header,footer{
    position: sticky;
    background-color: #000;
    color:whitesmoke;
    text-align: center;
}
header{
    top: 0;
    
}

nav{
    
    background-color: white;
    border-radius: 2px solid gray;
    padding: 0.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    
}

nav a ,
nav a:visited{
    color: rgb(0, 0, 0);
}

nav a,
nav a:hover{
    color: hsla(0, 0%,20%,0.6);
    text-decoration: none;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;

}

footer{
    bottom: 0;
}

/*Profile Cared Design*/

.card{
    scroll-margin-top: 10rem;
    width: min(100%,350px);
    background-color: #cbd5e1;
    border:2px solid #000;
    white-space: nowrap;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.card figure{
    display: flex;
    flex-direction: column;
}

.card img{
    border: 5px double #333;
    border-radius: 50%;
}


.card figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}



/*Small Screen*/
@media screen and (min-width: 576px) {

   main{
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
   }

   .card{
    width: min(100%,400px);
   }
   .card:last-child{
    order: -1;
   }
    
}

/*Medium Screen*/

@media screen  and (min-width:768px){

  nav{
    display: none;
  }

  .card{
    width: min(100%,325px);
  }

  .card figure{
    flex-flow: column-reverse;
  }

  .card figcaption{
    margin: 0.1em 0;
  }

  .card p{
    margin-top: 1rem;
  }

}

/*Large Screen*/


@media screen  and (min-width:992px){

  .card{
    width: min(100%,400px);
  }
  .card:nth-child(2){
    order: -1;
  }
    
}


/*XL Screen*/


@media screen  and (min-width:1200px){

  .card{
    width: min(calc(33% - 1rem),500px);
  }
    
}

/*Mobile Device Landscape Screen*/

@media screen  and (min-width:425px) and (min-aspect-ratio: 7/4) {

    h1{
        font-size: 1.5rem;
    }
    nav{
        display: none;
    }

    main{
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .card{
        width: min(calc(33% - 0.25rem),200px);
    }

    .card figcaption , .card p{
        font-size: 1rem;
    }
    
}
