/* *{
    font-family: monospace;
} */

h1,h2{
    background-color: black;
    color: blanchedalmond;
}





p{
    margin: 30px;
    border: solid 2px red;
    background-color: azure;
}

.color{
    background-color: black;
    color: white;
    border-radius: 2%;
    border: solid 1px blue;

}


span .color{
    color: inherit;
    font-family: monospace;
}
